<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head.ejs %>

</head>
<body>

	<% include partials/header.ejs %>

	<div id="hero-image">
		<h1 id="hero-title"><%= title %></h1>
	</div>

	<div id="posters-wrapper" class="content-padding clearfix">

	 <form method="GET" name="addBookForm" action="/addbook">
          <h4 class="modal-title" id="">Add Book</h4>
        <div class="">
            <div class="form-group">
              <label for="bookTitle">Title</label>
              <input type="text" class="form-control" id="bookName" required placeholder="Enter book title">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" class="form-control" id="bookAuthor" required placeholder="Enter book author">
            </div>
            <div class="form-group">
              <label for="year">Year of Publication</label>
              <input type="text" class="form-control" id="year" placeholder="Enter year of publication">
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <input type="text" class="form-control" id="category" placeholder="Enter Category">
            </div>
			<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
	          <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
	            <h2 class="mdl-card__title-text">Upload a file</h2>
	          </div>
	          <div class="mdl-card__supporting-text mdl-color-text--grey-600" id="messagesDiv">
	            <p>Select a file below. When it is uploaded, a link will be displayed to the uploaded file.</p>
	            <h6>Choose File</h6>
	            <input type="file" id="file" name="file"/>
	            <h6>File URL:</h6>
	            <span id="linkbox"></span>
	          </div>
	        </div>
        </div>
        <div class="">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
	</div>


	<% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>