<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head.ejs %>

</head>
<body>

	<% include partials/userheader.ejs %>

	<div id="hero-image">
		<h1 id="hero-title"><%= title %></h1>
	</div>

	<div id="posters-wrapper" class="content-padding clearfix">

    <% for (var key in categories) { %>
      <div class="poster">

        <a href="/viewcategory/<%= key %>">

          <!-- <img src="<%= categories[key].categoryImage %>" class="img-responsive"> -->

          <div class="">
            <h3><%= categories[key].categoryName %></h3>
            <h4>View More <i class="fa fa-arrow-right"></i></h4>
          </div>

        </a>

      </div>    
    <% } %>
	</div>


	<% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>